<h1>Depoimentos</h1>
{{itens}}
{{pagination}}
<form action="?page=1" method="post">
    <div class="form-group mt-3">
        <label for="" class="display-5">Autor</label>
        <input type="text" name="autor" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <label for="" class="display-5">Depoimento</label>
        <textarea name="depoimento" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Confirmar">
    </div>
    
</form>