<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner py-4">
    
    <div class="card">
      <div class="card-body">
        <div class="alert alert-warning">
          Tempo esgotado. <a href="{{URL}}/admin"><u>Faça login</u></a> novamente para voltar a utilizar o Boss!
        </div>
        <img src="{{ADMIN_ASSETS}}/img/illustrations/time_out.jpg" class="w-100" alt="">
        <div class="text-center">
          <a href="{{URL}}/admin" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            Voltar para o login
          </a>
        </div>
      </div>
    </div>

  </div>
</div>